/* chapter07 css pile */

h1 {
    background-color:pink;
}

#blue {
    background-color:yellow;
    color:blue;
    font-weight:bold;
}

body {
    background-image:url("img/flowerb.jpg");
    background-repeat:no-repeat;
    /*background-position:100px 50px;*/
    /*background-color:#B2EBF4;*/
}