/* chapter07 css pile */

h1 {
    background-color:pink;
}

#blue {
    background-color:yellow;
    color:blue;
    font-weight:bold;
}

body {
    background-image:url("img/narrow_bg.png");
    background-repeat:repeat-x;
    /*background-color:#B2EBF4;*/
}